html{
    margin:0;
    padding:0;
}
.app{
    height: 100vh;
    margin: 0 auto;
    position:relative;
    background-color: #1D2129;
    overflow: scroll;
    @media(max-width:767px){
        width:100%;
    }
    @media(min-width:768px){
        width: 35%;
    }
    button {
        background-color: #121417;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 0.5rem 1.5rem;
        text-transform: capitalize;
        letter-spacing: 0.1rem;
        outline: none;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
          0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
          0 22.3px 17.9px rgba(0, 0, 0, 0.072),
          0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
      }
      .active{
          background-color:#fac491;
          color:black;
      }
}